@require "app/styles/charte"

#app
	font-size: 1em
	text-align: center
	font-family: "Montserrat", sans-serif
	height: 100vh

	img
		margin: 2em auto
		height: 20%

.toast
	background-color: $purple-grey
	font-size: 1.5em
	color: $yellow

	.button-toast
		margin-top: .5em
		display: flex
		justify-content: center

		button
			background: none
			border: .1em solid $yellow
			border-radius: .5em
			padding: .3em
			color: $yellow
			font-size: .8em

		.accepter
			margin-right: 1em

main
	display: flex
	justify-content: space-around
	align-items: flex-start
