@require "app/styles/charte"

@font-face
	 font-family: Maiden
	 font-style: normal
	 src: url(/font/maiden_crimes-webfont.otf)


#app
	font-size: 1em
	text-align: center
	font-family: "Montserrat", sans-serif
	height: 100vh


#mate-finder-div
	max-width: 31.5em
	display: flex
	justify-content: center
	flex-direction: column
	margin: 5em auto

	.fa-star
		color: $yellow
		align-self: center


	#mate-finder-title
		font-family: Maiden
		color: $purple-grey
		font-size: 3em
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.50)
		align-items: center
		padding-top: 0

	#mate-finder-desc
		color: $purple-grey
		line-height: 1.8
		font-size: 1.5em
		text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)
		font-style: italic
		text-align: center

		span
			font-weight: 600

.toast
	background-color: $purple-grey
	font-size: 1.5em
	color: $yellow

	.button-toast
		margin-top: .5em
		display: flex
		justify-content: center

		button
			background: none
			border: .1em solid $yellow
			border-radius: .5em
			padding: .3em
			color: $yellow
			font-size: .8em

		.accepter
			margin-right: 1em

main
	display: flex
	justify-content: space-around
	align-items: flex-start
	min-height: 70vh

// Beackpoints : mini supporté => tablette
//
@media screen and (min-width: 750px)
	#mate-finder-title
		font-size: 3.5em

	#mate-finder-desc
		text-align: right

	#mate-finder-div
		max-width: 31.5em
		display: flex
		justify-content: center
		flex-direction: column
		margin: 5em auto

		.fa-star
			position: relative
			left: .67em
			top: .35em
