@require "app/styles/charte"

@font-face
	 font-family: Maiden
	 font-style: normal
	 src: url(../font/maiden_crimes-webfont.otf)


#app
	font-size: 1em
	text-align: center
	font-family: "Montserrat", sans-serif
	height: 100vh


#mate-finder-div
	max-width: 31.5em
	display: flex
	justify-content: center
	flex-direction: column
	margin: 5em auto

	#mate-finder-title
		font-family: Maiden
		color: $purple-grey
		font-size: 3em
		text-shadow: 0 3px 5px rgba(0, 0, 0, 0.50)
		align-items: center
		padding-top: 0
		z-index: 2

	#mate-finder-desc
		color: $purple-grey
		line-height: 1.8
		font-size: 1.5em
		text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)
		font-style: italic
		text-align: center
		animation-name: descentrance
		animation-duration: 2s
		height: 2em

		span
			font-weight: 600

	.fa-star
		width: 1em
		height: 1em
		z-index: 3
		color: $yellow
		align-self: center
		animation-name: EntranceStar
		animation-duration: 3s
		transform: translateX(-0.1em)

// .fa-star:hover
// 	animation-name: bounce
// 	animation-duration: .5s
// 	animation-timing-function: ease
// 	transform-origin: 50% 100
//

@keyframes descentrance
	0%
		opacity: 0
		font-size: 0
	40%
		opacity: 1
		font-size: 2em
	50%
		font-size: 1.5em
	60%
		font-size: 1.8em
	70%
		font-size: 1.5em
	80%
		font-size: 1.6em
	100%
		font-size: 1.5em

@keyframes EntranceStar
	0%
		opacity: 0
		z-index: 1
		transform: translateX(-0.08em) translateY(100%) scaleY(0.6)
	30%
		opacity: 1
	40%
		opacity: 1
		transform: translateX(-0.08em) translateY(-100%) scaleY(1.1)
	45%
		transform: translateX(-0.08em) translateY(-100%) rotateZ(90deg)
	50%
		transform: translateX(-0.08em) translateY(-100%) rotateZ(180deg)
	55%
		transform: translateX(-0.08em) translateY(-100%) rotateZ(270deg)
	60%
		transform: translateX(-0.08em) translateY(-100%) rotateZ(360deg)
	75%
		transform: translateX(-0.08em) translateY(40%) scaleY(0.95) scaleX(1.05)
	80%
		transform: translateX(-0.08em) translateY(0%) scaleY(1.05) scaleX(1)
	85%
		transform: translateX(-0.08em) translateY(20%) scaleY(0.95) scaleX(1)
	90%
		transform: translateX(-0.08em) translateY(0%) scaleY(0.95) scaleX(1)
	95%
		transform: translateX(-0.08em) translateY(10%) scaleY(0.95) scaleX(1)
	100%
		z-index: 3
		transform: translateX(-0.08em) translateY(0%) scaleY(1) scaleX(1)


.toast
	background-color: $purple-grey
	font-size: 1.5em
	color: $yellow

	.button-toast
		margin-top: .5em
		display: flex
		justify-content: center

		button
			background: none
			border: .1em solid $yellow
			border-radius: .5em
			padding: .3em
			color: $yellow
			font-size: .8em

		.accepter
			margin-right: 1em

main
	display: flex
	justify-content: space-around
	align-items: flex-start
	min-height: 70vh

// Beackpoints : mini supporté => tablette
//
@media screen and (min-width: 750px)
	#mate-finder-title
		font-size: 3.5em

	#mate-finder-desc
		text-align: right
		margin-left: 44%

	#mate-finder-div
		max-width: 31.5em
		display: flex
		justify-content: center
		flex-direction: column
		margin: 5em auto

		.fa-star
			position: relative
			left: .67em
			top: .35em
