#login
	text-align: center
	max-width: 360px
	margin: 3em auto

.form
	margin: 1em 0

	&.form-submit--login
		display: flex
		align-items: center
		justify-content: center

#login-submit
		background: #CCC
		border: 0
		border-radius: 0
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3em
		width: 100%
