@require "app/styles/charte"


	&.form-submit--login
			display: flex
			align-items: center
			justify-content: center

.box
		text-align: center
		width: 600px
		padding: 1em 10em
		background-color: $purple-grey

#login-submit
		background: $yellow
		border: 0
		border-radius: 0
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3em
		width: 100%
		color: $purple-grey
		font-weight: bold


#password-link
		font-size: 0.5em
		font-style: italic
		display: block
		padding: 1em
		color: #FFF
		text-align: right
		padding-bottom: 3em

.cancel
		padding: 0
		margin: 2em
		font-weight: 400
