@require "app/styles/charte"

#profil
	background: $purple-grey
	width: 40%
	padding: 1em

	h1
		color: $grey
		font-weight: 600
		font-size: 2em

	h2
		color: $yellow
		background: $purple-grey
		font-size: 1.5em
		margin-top: 2em
		margin-bottom: 1em

	#infos
		p
			color: $grey
			font-size: 1.2em
			text-align: left
			padding-left: 5em
			margin-bottom: .5em

	#actions
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between

		button
			background: none
			border: .1em solid $yellow
			margin: .5em 1em
			color: $yellow
			font-size: 1.2em
			border-radius: 1em
			padding: .4em

		input
			background: $grey
			color: $purple-grey
