@require "app/styles/charte"

.form
		margin-top: 1em

		&.form-submit--password
				display: flex
				align-items: center
				justify-content: center


#password-submit
		background: $yellow
		border: 0
		border-radius: 0
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3em
		width: 100%
		margin-bottom: 2em
a
		margin: 0.5em
		cursor: pointer
