@require "app/styles/charte"


#chatroom
	width: 70%
	max-width: 900px
	height: 60vh
	display: flex
	align-items: center
	justify-content: space-between
	background-color: $purple-grey
	color: white
	font-size: 1.8em
	padding: 1em
	overflow: hidden

	#chat
		height: 100%
		width: 80%

		#messages
			height: 90%
			width: 100%
			overflow: auto
			font-size: .8em
			padding-right: .5em
			border-right: 1px solid $yellow
			/* width */
			&::-webkit-scrollbar
					width: .4em
					height: .4em

			/* Track */
			&::-webkit-scrollbar-track
					box-shadow: inset 0 0 5px $yellow
					border-radius: 10px
			/* Handle */
			&::-webkit-scrollbar-thumb
					background: $grey
					border-radius: 10px

			.message
				display: flex
				flex-direction: column
				align-items: flex-end
				text-align: right
				font-size: .8em
				margin-bottom: .5em
				.content
					padding: .2em
					border-radius: 0.3em
					font-size: 1.3em
					background: $grey
					color: $purple-grey
				.username
					margin-bottom: .1em
					font-weight: 600

			.ownermsg
				display: flex
				flex-direction: column
				align-items: flex-start
				text-align: left
				.content
					background: $yellow

	#users
		height: 100%
		padding-left: .2em

		h3
			font-size: .8em
			margin-top: .5em
			margin-bottom: 1em

		ul
			text-align: left

			li
				display: flex
				align-items: center
				font-size: .8em
				font-weight: 600

				.icons
					font-size: .8em
					width: 2em
					color: $yellow

		.escape-link
			font-size: .7em

	#sendmessage
		display: flex
		align-items: center
		justify-content: center

		input
			width: 98%

			&::placeholder
				text-align: left

		.fa-space-shuttle
			color: $yellow
			cursor: pointer

		.fa-smile
			color: $yellow
			cursor: pointer
			margin-right: .5em

		.animfusee
			animation: fusee 1s linear 1 running

@keyframes fusee
	10% { transform: translateX(-.5em) }
	11% { transform: translateX(-.5em) rotateZ(10deg) }
	12% { transform: translateX(-.5em) rotateZ(-10deg) }
	13% { transform: translateX(-.5em) rotateZ(10deg) }
	14% { transform: translateX(-.5em) rotateZ(-10deg) }
	15% { transform: translateX(-.5em) rotateZ(10deg) }
	16% { transform: translateX(-.5em) rotateZ(-10deg) }
	17% { transform: translateX(-.5em) rotateZ(10deg) }
	18% { transform: translateX(-.5em) rotateZ(-10deg) }
	19% { transform: translateX(-.5em) rotateZ(10deg) }
	20% { transform: translateX(-.5em) rotateZ(0deg) }
	to { transform: translateX(10em) }
