#matchingform
	margin-top: 5em
	display: flex
	flex-direction: column
	align-items: center

	label
		display: inherit
		margin-bottom: .2em

	.test
		margin-left: 1em

		select
			width: 10rem
			text-align: center
			text-align-last: center

	.label
		text-align: right
		width: 5em

	#labelswitch
		display: flex
		align-items: center
		justify-content: space-between

		.switch
			margin-left: 1em
			width: 10rem

		#team
			margin-left: .5em

		.nochoice
			opacity: .3
