@require "app/styles/charte"

.field
	position: relative
	width: 100%

	/*
	 * Children
	 */
	&-input
		display: block
		border: 0.3em solid $grey
		background-color: $grey
		font-size: 1rem
		height: 2.5em
		width: 100%
		margin: .4em 0
		padding: 0 1em
		color: $purple-grey


		&::placeholder
			color: $purple-grey
			text-align: right
			font-style: italic
			font-size: .8em



	/*
	 * Modifiers
	 */

	&--has-error &
		&-input
			border: 1px solid #dc3545

	&--has-focus &
		&-input
			border-bottom-color: $yellow
			border-right-color: $yellow
			background-color: $grey
