@require "app/styles/charte"

.yellow
	color: $yellow

#contactmail
	background: none
	border: .1em solid $yellow
	border-radius: .5em
	padding: .3em
	color: $yellow
	font-size: 1em
	margin-left: 1em
