// @require "app/styles/charte"
// a
// 		margin: 0.75em
// 		cursor: pointer
// 		background-color: $purple-grey
// 		color: $yellow
// 		padding: 1.5em
// 		font-weight: bold
//
// #landing
// 	display: flex
// 	margin-top: 6em
