@require "app/styles/charte"

#mainnav
	color: white
	font-size: 0.8em
	display: flex
	align-items: center
	justify-content: space-between
	height: 3em
	background-color: $purple-grey

	div
		display: flex
		align-items: center

		#username
			display: none
			font-style: italic
			font-weight: 600

		p
			margin: 0 1em

	#go-to-matching
		background: none
		margin: 0 1em
		color: $yellow
		font-weight: bold
		padding: 0

	#go-to-profil
		background: none
		margin: 0 1em
		font-size: 1em
		color: white
		font-weight: normal
		padding: 0

	.loadingbutton
		background: none
		border: .1em solid $yellow
		border-radius: .5em
		padding: .3em
		color: $yellow
		font-size: .8em
		margin-left: 1em

@media screen and (min-width: 750px)
	#mainnav
		div
			#username
				display: flex

@media screen and (min-width: 1000px)
	#mainnav
		font-size: 1.2em
