@require "app/styles/charte"

.cssload-bell2
	width: 3em
	height: 3em
	border-radius: 100%
	left: calc(50% - 49px)
	margin: auto
	margin-bottom: 1em

#matchingloading
	display: flex
	flex-direction: column
	align-items: center
	padding: 1em
	background-color: $purple-grey
	color: white
	font-size: 2em

#content
	width: 30em
	text-align: left
	font-size: 1em
	margin: 0.2em

	.search-text
		text-align: center

	h1
		background-color: $purple-grey
		color: $yellow
		padding: .5em
		padding-left: 1em
		margin: 1.5em 0
		font-size: 1.2em
		font-weight: 600
		font-family: "Roboto Slab", serif
		text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)

	p
		color: $purple-grey
		margin-bottom: .5em

	#game
		color: $yellow
		font-weight: 600

	#infoqueue
		text-decoration: underline

	#streamspanel
		display: flex
		justify-content: space-between

		.stream
			text-align: center

			h3
				margin-bottom: .5em
				color: $purple-grey
				text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)

			a
				background: none
				margin: 0
				padding: 0


			img
				width: 95%
				margin: 0

	#actupanel

		.articles
			display: flex
			justify-content: space-between
			align-items: flex-start
			margin-bottom: 1em
			border-bottom: .1em solid $purple-grey
			padding: 0
			padding-bottom: 1em

			h3
				color: $purple-grey
				font-weight: 600
				margin-bottom: .5em
				text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)

			p
				color: $purple-grey

			a
				background: none
				margin: 0
				padding: 0
				font-weight: bold

			img
				width: 40%
				margin: 0
				margin-right: .5em
				border: .2em solid $purple-grey

.searchinprogress
	text-align: center
	color: $yellow !important
	margin-bottom: 2em !important
	font-weight: 600


@media screen and (min-width: 750px)
	#content
		width: 40em
		font-size: 1.2em

		.search-text
			text-align: left

		h1
			background-color: $purple-grey
			color: $yellow
			padding: .5em
			padding-left: 1em
			margin: 1em 0
			font-size: 2em
			font-weight: 600
			font-family: "Roboto Slab", serif
			text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)
