@require "app/styles/charte"

#matchingform
	width: 20em
	display: flex
	flex-direction: column
	align-items: center
	padding: 1em
	background-color: $purple-grey
	color: white
	font-size: 2em

	label
		display: flex
		justify-content: center
		width: 100%

	.test
		width: 100%
		margin-left: 1em
		margin-bottom: 1em

		select
			width: 100%
			height: 1.5em
			text-align: center
			text-align-last: center
			border: 0
			color: $purple-grey
			border: .15em solid $yellow
			background-color: $grey
			border-radius: 1em
			-webkit-appearance: none
			-moz-appearance: none
			text-indent: 1px
			text-overflow: ""
			font-size: .6em

			&::-ms-expand
				display: none

	.label
		text-align: right
		width: 100%

	#labelswitch
		margin-bottom: 1em


		.switch
			margin: auto

		#team
			margin-left: .2em

		.nochoice
			opacity: .3

	button
		width: 30%
		font-size: 1em
		background-color: $yellow
		color: $purple-grey
		border: 0
		border-radius: 1em
