@require "app/styles/charte"

.switch
	display: flex
	justify-content: space-between;
	align-items: center
	margin-bottom: 1em
	color: $yellow
	font-weight: bold
	width: 10em
	font-family: "Roboto Slab", serif
	text-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.50)

	// #team
	// 	margin-left: .5em

	input[type=checkbox]
		height: 0
		width: 0
		visibility: hidden

	label
		cursor: pointer
		text-indent: -9999px
		width: 3.5em
		height: .6em
		background: $grey
		display: block
		border-radius: 100px
		position: relative

	label:before
		content: ""
		position: absolute
		top: -.30em
		left: .15em
		width: 1.2em
		height: 1.2em
		background: $purple-grey
		border-radius: 1.2em
		transition: 0.3s
		border: .2em solid $yellow

	input:checked + label:before
		left: calc(100% - .2em)
		transform: translateX(-100%)

	label:active:before
		width: 1.5em
