.form
		margin: 1em 0

		&.form-submit--signup
				display: flex
				align-items: center
				justify-content: center

#signup
		text-align: center
		max-width: 360px
		margin: 3em auto

#signup-submit
		background: #CCC
		border: 0
		border-radius: 0
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3em
		width: 100%
