@require "app/styles/charte"

.form
		margin-top: 1em

		&.form-submit--signup
				display: flex
				align-items: center
				justify-content: center

#signup-submit
		background: $yellow
		border: 0
		border-radius: 0
		font-size: 1em
		display: block
		text-transform: uppercase
		height: 3em
		width: 100%
		margin-bottom: 2em
		color: $purple-grey
		font-weight: bold

.error-message
		font-size: 1em
		font-weight: bold
		font-style: italic
		line-height: 2
		margin: .25em 0
		color: #dc3545
