@require "app/styles/charte"

#mentionscontact
	width: 70%
	max-width: 700px
	background-color: $purple-grey
	padding: 1em
	padding-bottom: 1em

	h1
		text-transform: uppercase
		font-size: 2em
		color: $yellow
		margin: .5em 0

	p
		color: $grey
		padding: 1em
		margin-top: 1em
