@require "app/styles/charte"

#mentionscontact
	width: 50%
	background-color: $purple-grey
	padding: 2em 1em

	h1
		text-transform: uppercase
		font-size: 2em
		color: $yellow
		margin: .5em 0

	p
		color: $grey
		padding: 1em
		margin-bottom: 1em
